 .RouterFirstTop {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
}
.RouteFirst {
    width: 100%;
    height: 40vh;
    background-color: #1abc9c;
    grid-column: 1/2;
    }
.RouterFirstTop .Advertisment {
    grid-column: 2/3;
}
@media all and (max-width:992px){
    .RouteFirst {
        grid-column: 1/3;
        }
    .RouterFirstTop .Advertisment {
        grid-column: 1/3;
    }   
}